<!--
    this component takes in data from its parent component - <app-quote>
-->
<div class="quote-details">
    <p>- {{ quote.author }}</p>
    <p>posted by: {{ quote.user }}</p>
    <div class="votes">
        <div class="upvote">
            <fa-icon class="icon-btn" [icon]="upvoteBtn" (click)="upvote()"></fa-icon>
            {{ quote.upvotes }}
        </div>
        <div class="downvote">
            <fa-icon class="icon-btn" [icon]="downvoteBtn" (click)="downvote()"></fa-icon>
            {{ quote.downvotes }}
        </div>
    </div>
</div>