.quote {
    width: 80%;
    margin: 1% 10%;
    min-height: 100px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px;
    padding: 1% 2%;
}

.quote.mostliked {
    background-color: #ED2B33FF;
    color: white;
}

.quote-content {
    font-weight: bold;
}

.delete-btn {
    margin-top: 2%;
}