<div [ngClass]="formActiveStatus ? 'form-overlay active' : 'form-overlay'">
    <form>
        <fa-icon class="icon-btn" [icon]="closeBtn"></fa-icon>
        <h1>create quote</h1>
        <label>quote content</label>
        <input type="text" placeholder="enter the quote...">
        <label>quote author</label>
        <input type="text" placeholder="enter the name of the author...">
        <label>user posted</label>
        <input type="text" placeholder="enter the name of the user...">
        <button type="submit" class="btn">post quote</button>
    </form>
</div>

