form {
    width: 80%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px;
}

.icon-btn {
    font-size: 20px;
    cursor: pointer;
}

input {
    width: 70%;
    height: 30px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2%;
    margin-bottom: 2%;
}

input:focus {
    border: 2px solid #ED2B33FF;
}

.btn {
    margin-bottom: 3%;
}